<div class="container">
    <h1 class="hidden-name">{{ getHiddenName() }}</h1>
  
    <div class="input-group">
      <input type="text" placeholder="Digite o nome aqui" (input)="atualizarNome($event)" />
      <button (click)="tentativa()">Submit</button>
      <button (click)="revela()">Revelar Letra</button>
    </div>
  
    <div class="info-box">
      <p><strong>Ouvintes:</strong> {{ dados?.listerners }}</p>
      <p><strong>Scrobbles:</strong> {{ dados?.scrobbles }}</p>
      <p><strong>Posição:</strong> #{{ dados?.position }}</p>
      <p><strong>Ano de Nascimento/Fundação:</strong> {{ dados?.birthOrFoundation }}</p>
    </div>
  
    <h3>Artistas Similares:</h3>
    <button (click)="mostrarSimilares = !mostrarSimilares">
      {{ mostrarSimilares ? 'Ocultar' : 'Revelar' }}
    </button>
    <ul *ngIf="mostrarSimilares" class="styled-list">
      <li *ngFor="let similar of dados?.similars">{{ similar }}</li>
    </ul>
    
    <h3>Gêneros:</h3>
    <button (click)="mostrarGeneros = !mostrarGeneros">
      {{ mostrarGeneros ? 'Ocultar' : 'Revelar' }}
    </button>
    <ul *ngIf="mostrarGeneros" class="styled-list">
      <li *ngFor="let g of dados?.genre">{{ g }}</li>
    </ul>
</div>